extends layout/head
block title
	title Blunes – Journal
block content
	body
		.wrap
			include layout/navigation
			main#journal
				.spacer
					article.single
						.container
							.row
								.col-lg-8.offset-lg-2.col-md-10.offset-md-1
									.mar-top-lg
										span.time July 26
										a(href="#article-comments").comments-link 5 Comments
										h2.article-title A Lightweight Branding Exercise for Startups
										p A bottom-up, alignment-oriented approach
							.row
								.col-md-12
									.article-content-image
										img(src="img/journal/featured_article.png" alt="A Lightweight Branding Exercise for Startups")
							.row
								.col-lg-8.offset-lg-2.col-md-10.offset-md-1
									p While a logo might be the most recognizable manifestation of a brand, it’s only one of many. Brands cut across media, and present themselves in colors, shapes, words, sounds, and even smells. That’s because a brand, at it’s core, is immaterial. It’s about abstract attributes and values which present themselves in concrete ways:
									ul
										li
											b Virgin America 
											| is about quality, fun, innovation, challenging assumptions. You can see it in purple aircraft lighting and quirky safety videos.
										li
											b Honda 
											| is about affordable quality and trust. You can see it in reliable, albeit generic-looking vehicles, and simple and approachable visual design.
										li
											b Ikea 
											| is about cost-consciousness, simplicity and togetherness. You can see it in incredibly affordable furniture, family-oriented stores, and approachable visual design.
									p Building a brand is a long-term commitment which results from thousands of interactions between a customer and the brand’s touch points over time.
							.row
								.col-md-10.offset-md-1
									.content-quote
										p When your values are clear to you, making decisions becomes easier.
										span.author Roy E. Disney
							.row
								.col-lg-8.offset-lg-2.col-md-10.offset-md-1
									p Startups lack the time to develop this relationship: it’s a race against the clock, and every dollar spent needs to bring the company closer to validation and traction. But users impressions — especially first impressions — matter greatly. How can a startup make the most of its branding efforts for the best results?
									p Here I describe a simple branding exercise I’ve used and evolved with the companies at Expa with success. It can help your team get into alignment and articulate the core attributes of your brand. The output will enable designers to define how it looks, writers to how it speaks, and for any vendor or team member to make coherent decisions by themselves. And it won’t cost you more than two 90-minute sessions and a few dozen sticky-notes.
									.mar-top-xs
										h3 The Basic Idea
										p This exercise has four phases:
										ol
											li
												b Brainstorm possible values and attributes for your brand
											li
												b Separate those into what belongs and doesn’t belong to it
											li
												b Group the ones which belong into abstracted groups
											li
												b Distill them into values, key attributes and analogies
										p Every brand stakeholder in your company should take part, so if your team fits in a room, get them of all in there. If it’s larger, get the people who’d be expressing the brand day-to-day: designers, marketers, executives, salespeople, recruiters. You can also bring whoever demonstrates interest — you want motivated people brainstorming. In any case, just don’t do this by yourself: you’ll end up with a limited perspective.
										p Once you’ve listed the participants, schedule a 90-minute block for the first session in a room with whiteboards or foam boards. Get plenty of colorful sticky-notes (at least 40 per person) and Sharpies for everyone. Don’t use fine point pens so ideas can later be read from a distance. Snacks could be handy too.
									.article-share
										span Share:
										ul
											li
												a.facebook(href="#") Facebook
											li
												a.twitter(href="#") Twitter
											li
												a.linkedin(href="#") LinkedIn
									.divider
							.next-article
								.row
									.col-lg-8.offset-lg-2.col-md-12
										p Next Article
										h2
											a(href="#") The Psychology of Color in Marketing and Branding
				.divider
				.spacer
					.container
						#article-comments
							.row
								.col-md-6
									.comments-list
										h3 Comments
										.mar-top-xs
											.comment-block
												.userpic
													img(src="img/journal/users/user_1.png" alt="Larry")
												.content
													h6.author-name Larry
													span.time July 26 at 8:20 PM
													p.comment-text Enjoyed this a lot and well done. We are an early stage digitally native vertical brand, making travel bags from recycled plastic and we are looking to do some brand exercises in the near future. This should help!
													a.reply-link(href="#") Reply
											.comment-block
												.userpic
													img(src="img/journal/users/user_2.png" alt="Evelyn")
												.content
													h6.author-name Evelyn
													span.time July 25 at 11:17 AM
													p.comment-text Such a great article, thanks for sharing.
													a.reply-link(href="#") Reply
											.comment-block.reply
												.userpic
													img(src="img/journal/users/user_3.png" alt="Barry")
												.content
													h6.author-name Barry
													span.time July 25 at 12:32 PM
													p.comment-text Agree with you!
													a.reply-link(href="#") Reply
											.comment-block
												.userpic
													img(src="img/journal/users/user_4.png" alt="Frederick")
												.content
													h6.author-name Frederick
													span.time July 23 at 8:42 PM
													p.comment-text Now that we have working on refining our branding, this is super helpful.
													a.reply-link(href="#") Reply
											.comment-block
												.userpic
													img(src="img/journal/users/user_5.png" alt="Eliza")
												.content
													h6.author-name Eliza
													span.time July 22 at 5:12 PM
													p.comment-text Love this article. It’s useful and really helpful. Especially for people who have no idea about branding.
													a.reply-link(href="#") Reply
								.col-md-5.offset-md-1
									.comment-leave
										h3 Leave a Comment
										form
											.form-field
												label(for="comment-text") Comment
												textarea(name="comment-text" id="comment-text" placeholder="Write a comment here...")
											.form-field
												label(for="comment-name") Name
												input(type="text" name="comment-name" id="comment-name" placeholder="Your name")
											.form-field
												label(for="comment-email") Email
												input(type="text" name="comment-email" id="comment-email" placeholder="Your email")
											input(type="submit" id="comment-submit" value="Send")
			include layout/footer
		include layout/js
