extends layout/head
block title
	title Blunes – Project
block content
	body#project-1
		.wrap
			include layout/navigation
			main
				.spacer
					.container
						.row
							.col-lg-8.offset-lg-2.col-md-10.offset-md-1
								.project-intro.mar-top-lg
									h1.project-title Flyby
									p.project-description Flyby is a company on a journey. As one of America’s newest, most unique start-up brands, it’s steadily building a devoted community of folk who don’t have time for hangovers. Our challenge was to create a brand that brings to life their vision of drinking smarter and living better. 
									ul.project-services
										li Branding
						.row
							.col-md-12
								.mar-top-lg
									.project-image
										img(src="img/project-1/image_1.png" alt="Flyby")
						.project-content.mar-top-lg
							.row
								.col-md-3.offset-md-1
									h3.title Flyby Your Hangover
								.col-md-7
									p Inspired by the name of the product, we created the Flyby 'loop' as a visual representation of the product and how it allows you to  'fly by your hangover'. The loop is infinitely adaptable to its surroundings; be that the brand logo, typography, imagery or iconography and provides a flexible brand asset that is instantly identifiable to the Flyby brand. With help from James Huson, we developed an animation style to bring a life of it's own to the loop device.
						.mar-top-lg
							.row
								.col-md-5
									.project-image
										img(src="img/project-1/image_2.gif" alt="Flyby")
								.col-md-5.offset-md-2
									.mar-top-xs
										.project-image
											img(src="img/project-1/image_3.png" alt="Flyby")
							.row
								.col-md-6.offset-md-4
									.mar-top-sm
										.project-image
											img(src="img/project-1/image_4.png" alt="Flyby")
						.project-content.mar-top-lg
							.row
								.col-md-3.offset-md-1
									h3.title A Punchy Personality
								.col-md-7
									p We played heavily on the name of the product and connected it to real life 'hangover' situations in order to bring personality and a friendly, realistic tone to a market that can otherwise be quite dull and boring. 
						.mar-top-lg
							.row
								.col-md-6
									.project-image
										img(src="img/project-1/image_5.png" alt="Flyby")
								.col-md-6
									.project-image
										img(src="img/project-1/image_6.png" alt="Flyby")
						.row
							.col-md-10.offset-md-1
								.content-quote.mar-top-lg
									p The new Flyby identity is simple, welcoming and memorable — like the product itself, the brand is a direct challenge to a category that is generally boring and full of jargon.
									span.author Sam Lane, Co-Founder @ Alphabet
						.mar-top-lg
							.row
								.col-md-6
									.project-image
										img(src="img/project-1/image_7.png" alt="Flyby")
								.col-md-6
									.project-image
										img(src="img/project-1/image_8.png" alt="Flyby")
						.project-content.mar-top-lg
							.row
								.col-md-3.offset-md-1
									h3.title The Result
								.col-md-7
									p We created a comprehensive set of guidelines to help Flyby bring the brand to life across all channels. But we continue to work closely together, developing their internal and external communications.
						.row
							.col-md-12
								.mar-top-lg
									.project-image
										img(src="img/project-1/image_9.png" alt="Flyby")
						.next-project
							.row
								.col-lg-6.col-md-8.offset-lg-3.offset-md-2
									p Next Project
									h2
										a(href="#") Dom Casmurro
			include layout/footer
		include layout/js
