extends layout/head
block title
	title Blunes – Project
block content
	body#project-3
		.wrap
			include layout/navigation
			main
				.spacer
					.intro
						.intro-image
							img(src="img/project-3/image_1.png" alt="Damoon")
						.intro-text
							h1 Damoon
					.container
						.project-content.mar-top-lg
							.row
								.col-md-8.md-offset-2
									h3 Brand by Chaehoon Moon
									p CFC developed the visual identity of Damoon, a dinnerware brand by Chaehoon Moon. She creates products with a mixture of Korean traditional materials such as Ottchil and Yuhgee, and develops unique ways of using them. Each product is elegantly handmade and possess all different identity.
									ul.project-services
										li Branding
										li Art Direction
							.mar-top-lg
								.row
									.col-md-6
										.project-image
											img(src="img/project-3/image_2.gif" alt="Damoon")
									.col-md-6
										.project-image
											img(src="img/project-3/image_3.gif" alt="Damoon")
							.mar-top-lg
								.row
									.col-lg-5.col-md-12
											.project-image
												img(src="img/project-3/image_4.png" alt="Damoon")
									.col-lg-6.col-md-12.offset-lg-1
										.project-content.mar-top-xs
											h3 The Material
											p Yughee and Ottchil have long been used for dinnerware in Korea. It takes so many steps to produce each products; alloy of copper (72%) and zinc (22%), creating mold for casting metals, pouring molten metal into a cast, tempering, polishing, applying lacquer.
							.mar-top-lg
								.row
									.col-md-6
										.project-image
											img(src="img/project-3/image_5.png" alt="Damoon")
									.col-md-6
										.project-image
											img(src="img/project-3/image_6.png" alt="Damoon")
						.next-project
							.row
								.col-lg-6.col-md-8.offset-lg-3.offset-md-2
									p Next Project
									h2
										a(href="#") Dom Casmurro
			include layout/footer
		include layout/js
