extends layout/head
block title
	title Blunes – Studio
block content
	body
		.wrap
			include layout/navigation
			main
				.spacer
					.container
						.row
							.col-lg-8.offset-lg-2.col-md-10.offset-md-1
								.page-intro.mar-top-lg
									h1.page-title Creative Co.
									p We convert your super ideas to elegant design, awesome experiences and working brands.
						.row
							.col-md-12
								.mar-top-md
									.page-content-image
										img(src="img/studio/image_1.png" alt="Creative Co.")
					.container
						.page-content.mar-top-lg
							.row
								.col-lg-4.col-md-10
									h2 We like to build brands for startups
								.col-lg-7.offset-lg-1.col-md-10
									p.lead We have many years experience and many interesting problems which we solved. We are happy about collaboration with creative people and organizations to provide best design.
									p.lead We transform your ideas into working solutions. Our fundamental principle is to help our clients’ wishes come true. Our work help startups to solve important problems and grow up.
						.mar-top-lg
							.row
								.col-lg-6.col-md-12
									.mar-bot-xs
										.page-content-image
											img(src="img/studio/image_2.png" alt="Creative Co.")
								.col-lg-5.offset-lg-1.col-md-10
									.page-content
										h2 Care and focus only on your brand
										p.lead
											| Blunes was founded many years ago and has many interesting solved problems. Our multidisciplinary team are 
											b happy to collaborate 
											| with creative people and organizations to provide best design.
										p.lead
											| We are 
											a(href="contact.html") looking for your project.
						.page-content.mar-top-lg
							.row
								.col-lg-10
									h2 Multidisciplinary Digital Agency
							.row
								.col-lg-3.col-md-6
									.studio-services
										h4 Branding
										ul
											li Branding Strategy
											li Research
											li Analytics
											li Logotypes
											li Brandmarks
											li Lettering
											li Visual Identity
											li Brand Guidelines
								.col-lg-3.col-md-6
									.studio-services
										h4 Print
										ul
											li Professional Binding
											li Presentations
											li Manuals
											li Booklets
											li Document Printing
											li Book Printing
											li Annuals
											li Reports
											li Print Management
								.col-lg-3.col-md-6
									.studio-services
										h4 Typography
										ul
											li Custom Font Design
											li Lettering
											li Calligraphy
											li Copywriting
											li Font Guidelines
											li Consulting Services
											li Font Licensing
								.col-lg-3.col-md-6
									.studio-services
										h4 Art Direction
										ul
											li Project Management
											li Communications
											li Content Strategy
											li Copywriting
											li Marketing Materials
											li Creative Direction
						.mar-top-lg
							.row
								.col-md-6
										.page-content-image
											img(src="img/studio/image_3.png" alt="Creative Co.")
								.col-md-6
										.page-content-image
											img(src="img/studio/image_4.png" alt="Creative Co.")
						.mar-top-lg
							.row
								.col-lg-6.offset-lg-3.col-md-10.offset-md-1
									.page-section-title.text-center
										h2 The Team
										p.lead Superheroes, problem solvers, creative thinkers, and branding addicts.
							.mar-top-xs
								.row
									.col-lg-4.col-md-6
										.studio-member
											.studio-member-photo
												.social-links
													ul
														li
															a.facebook(href="#")
														li
															a.twitter(href="#")
														li
															a.dribbble(href="#")
												img(src="img/studio/member_1.png" alt="Ronald Norman")
											h4.name Ronald Norman
											p.role Founder, Creative Director
									.col-lg-4.col-md-6
										.studio-member
											.studio-member-photo
												.social-links
													ul
														li
															a.twitter(href="#")
														li
															a.instagram(href="#")
												img(src="img/studio/member_2.png" alt="Ann Hayes")
											h4.name Ann Hayes
											p.role Art Director
									.col-lg-4.col-md-6
										.studio-member
											.studio-member-photo
												.social-links
													ul
														li
															a.behance(href="#")
														li
															a.dribbble(href="#")
												img(src="img/studio/member_3.png" alt="Mark Kelley")
											h4.name Mark Kelley
											p.role Lead Designer
									.col-lg-4.col-md-6
										.studio-member
											.studio-member-photo
												.social-links
													ul
														li
															a.facebook(href="#")
														li
															a.twitter(href="#")
														li
															a.instagram(href="#")
												img(src="img/studio/member_4.png" alt="Eva Myers")
											h4.name Eva Myers
											p.role Designer
									.col-lg-4.col-md-6
										.studio-member
											.studio-member-photo
												.social-links
													ul
														li
															a.twitter(href="#")
														li
															a.dribbble(href="#")
														li
															a.behance(href="#")
												img(src="img/studio/member_5.png" alt="Fred Jackson")
											h4.name Fred Jackson
											p.role Project Manager
									.col-lg-4.col-md-6
										.studio-member
											.studio-member-photo
												.social-links
													ul
														li
															a.instagram(href="#")
														li
															a.dribbble(href="#")
												img(src="img/studio/member_6.png" alt="Barbara Horton")
											h4.name Barbara Horton
											p.role Office Manager
			include layout/footer
		include layout/js
