footer.mar-top-lg
    .container
        .row
            .col-lg-4.col-md-3.col-sm-12
                a.logo.smooth-leave(href="index.html")
            .col-lg-4.col-md-4.col-sm-12
                .footer-contacts
                    .wrap
                        .address
                            p 26 Hillside Street<br>House 35<br>London, UK
                        a.email(href="mailto:hello@blunes.com") hello@blunes.com
                        br
                        a.phone(href="tel:5226669113") 522-666-9113
            .col-lg-4.col-md-5.col-sm-12
                .social-links
                    ul
                        li
                            a.facebook(href="#")
                        li
                            a.twitter(href="#")
                        li
                            a.instagram(href="#")
                        li
                            a.dribbble(href="#")
                        li
                            a.behance(href="#")
