header
    .container
        .row
            .col-md-12
                    a.logo.smooth-leave(href="index.html")
                    nav
                        ul
                            li.current.dropdown
                                div
                                    span Work
                                    ul
                                        li
                                            a.smooth-leave(href="index.html") 2 Columns
                                        li
                                            a.smooth-leave(href="work-columns-3.html") 3 Columns
                                        li
                                            a.smooth-leave(href="work-clean.html") Clean
                            li.dropdown
                                div
                                    span Project
                                    ul
                                        li
                                            a.smooth-leave(href="project-1.html") Project 1
                                        li
                                            a.smooth-leave(href="project-2.html") Project 2
                                        li
                                            a.smooth-leave(href="project-3.html") Project 3
                            li
                                a.smooth-leave(href="studio.html") Studio
                            li
                                a.smooth-leave(href="journal.html") Journal
                            li
                                a.smooth-leave(href="contact.html") Contact
                    span.nav-toggle Menu
